a.mlhLOGO {
  background-image: url(images/gray.png);
  position: absolute;
  width: 91px;
  height: 162px;
  left: 47px;
  top: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a.nav {
  position: absolute;
  width: 534.48px;
  height: 22px;
  left: 893px;
  top: 26px;
  margin-right: 5px;
	margin-left: 5px;
	color: #B6A2D4;
	text-decoration: none;
}
a.nav:hover {
  opacity: 0.5;
}
body{
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #222;
  background: #FFFFFF;
}
