a.mlhLOGO {
  background-image: url(images/gray.png);
  position: absolute;
  width: 91px;
  height: 162px;
  left: 47px;
  top: 2px;
  text-indent: -9999px;
  background-size: 91px 162px;
  opacity: 1.0;
	text-align: center;
}
h1 {
  color: #332547;
}
teenexplore {
  color: #CBBDE0;
}
dateANDloc {
  color: #F2F2F2
}
tec-hacks{
  color: #332547;
}
head {

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a.nav {
  position: absolute;
  width: 534.48px;
  height: 22px;
  left: 893px;
  top: 26px;
  margin-right: 5px;
	margin-left: 5px;
	color: #B6A2D4;
	text-decoration: none;
}
a.nav:hover {
  opacity: 0.5;
}
body{
  padding: 0;
  margin-left: 350px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #B6A2D4;
  background: #FFFFFF;
}
